.icon-star-full {

    fill: $color-orange;
    height: 1.8rem;
    width: 1.8rem;
    margin: 0 .7rem 0 0; 
}

.icon-cart {

    fill: $color-bg-left;
    height: 1.8rem;
    width: 1.8rem;
    margin: 1.1rem 0;

}

.icon-share2 {

    fill: $color-tertiary;
    height: 1.8rem;
    width: 1.8rem;

}