/*

FONTS

*/

$title-font:'Roboto', sans-serif;
$description-font:'Raleway', sans-serif;
$price-font:'Open Sans Condensed', sans-serif;


/*

COLORS

*/

$color-primary:rgb(39, 39, 39);
$color-secondary:#525151;
$color-tertiary:#afaeae;
$color-blue:#4856db;
$color-blue-dark:#323ea5;
$color-pink:#f890a2;
$color-magenta:#c7029c;
$color-green:#2f9c2f;
$color-violet:#8a028a;
$color-price:rgb(28, 46, 211);
$color-orange:rgb(255, 90, 14);
$color-orange-light:rgb(255, 124, 17);
$color-bg-left:#f6f2f2;