/*

FONTS

*/

$title-font:'Roboto', sans-serif;
$description-font:'Raleway', sans-serif;
$price-font:'Open Sans Condensed', sans-serif;


/*

COLORS

*/

$color-primary:rgb(39, 39, 39);
$color-secondary:#525151;
$color-tertiary:#afaeae;
$color-blue:rgb(72, 86, 219);
$color-pink:rgb(248, 144, 162);
$color-magenta:rgb(255, 0, 200);
$color-green:rgb(47, 156, 47);
$color-violet:rgb(138, 2, 138);
$color-price:rgb(28, 46, 211);
$color-orange:rgb(255, 90, 14);
$color-orange-light:rgb(255, 124, 17);
$color-bg-left:#f6f2f2;