/*

FONTS

*/

$title-font:'Roboto', sans-serif;
$description-font:'Raleway', sans-serif;
$price-font:'Open Sans Condensed', sans-serif;


/*

COLORS

*/

$color-primary:rgb(39, 39, 39);
$color-secondary:rgb(82, 81, 81);
$color-blue:rgb(72, 86, 219);
$color-price:rgb(28, 46, 211);
$color-orange:rgb(247, 94, 34);
$color-bg-left:rgb(246, 242, 242);