* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

/*

FONTS

*/
/*

COLORS

*/
.icon-star-full {
  fill: #ff5a0e;
  height: 1.8rem;
  width: 1.8rem;
  margin: 0 .7rem 0 0; }

.icon-cart {
  fill: #f6f2f2;
  height: 1.8rem;
  width: 1.8rem;
  margin: 1.1rem 0; }

.icon-share2 {
  fill: #afaeae;
  height: 1.8rem;
  width: 1.8rem; }

.layout_wrapper {
  display: flex;
  height: 100vh; }

.description {
  flex-basis: 65%;
  padding: 4rem;
  background: #f6f2f2; }
  .description_header {
    display: flex;
    flex-direction: row; }
    .description_header-title {
      font-size: 3rem;
      font-family: "Roboto", sans-serif;
      color: #272727;
      text-transform: uppercase;
      flex-basis: 85%; }
    .description_header-price {
      font-size: 2.5rem;
      font-family: "Open Sans Condensed", sans-serif;
      font-weight: 600;
      flex-basis: 15%;
      display: flex;
      justify-content: end; }
  .description_collection {
    font-family: "Raleway", sans-serif;
    color: #525151;
    font-weight: 600;
    font-size: 1.4rem;
    padding: 1rem 0;
    text-transform: capitalize; }
  .description_title {
    font-family: "Raleway", sans-serif;
    color: #272727;
    font-weight: 800;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin: 2.5rem 0 1.5rem 0; }
  .description_text {
    font-family: "Raleway", sans-serif;
    color: #525151;
    font-weight: 600;
    line-height: 2.2rem;
    font-size: 1.2rem;
    padding: 0 4rem 0 0; }
  .description_options {
    display: flex;
    flex-direction: row;
    padding: 5rem 0; }
    .description_options-text {
      font-family: "Raleway", sans-serif;
      color: #272727;
      font-weight: 800;
      font-size: 1.4rem;
      text-transform: uppercase; }
    .description_options-color {
      display: flex;
      flex-direction: column;
      flex-basis: 50%; }
      .description_options-color-picker {
        display: flex;
        flex-direction: row;
        padding: 1.5rem 0; }
        .description_options-color-picker-item.border {
          height: 2.2rem;
          width: 2.2rem;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 0.6rem 0 0;
          cursor: pointer; }
          .description_options-color-picker-item.border-blue {
            border: 1px solid #4856db; }
          .description_options-color-picker-item.border-pink {
            border: 1px solid #f890a2; }
          .description_options-color-picker-item.border-magenta {
            border: 1px solid #c7029c; }
          .description_options-color-picker-item.border-green {
            border: 1px solid #2f9c2f; }
          .description_options-color-picker-item.border-violet {
            border: 1px solid #8a028a; }
        .description_options-color-picker-item.circle {
          height: 1.4rem;
          width: 1.4rem;
          border-radius: 50%; }
          .description_options-color-picker-item.circle-blue {
            background: #4856db; }
          .description_options-color-picker-item.circle-pink {
            background: #f890a2; }
          .description_options-color-picker-item.circle-magenta {
            background: #c7029c; }
          .description_options-color-picker-item.circle-green {
            background: #2f9c2f; }
          .description_options-color-picker-item.circle-violet {
            background: #8a028a; }
    .description_options-size {
      display: flex;
      flex-direction: column;
      flex-basis: 25%; }
    .description_options-qty {
      display: flex;
      flex-direction: column;
      flex-basis: 25%; }
    .description_options-select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 1.5rem 0 0 0;
      height: 3rem;
      border: none;
      background-image: url(../img/SVG/chevron-small-down.svg);
      background-repeat: no-repeat;
      background-size: 2rem 2rem;
      background-color: #f6f2f2;
      color: #525151;
      font-family: "Open Sans Condensed", sans-serif;
      font-size: 1.4rem;
      text-transform: uppercase;
      font-weight: 800; }
      .description_options-select.size {
        background-position: 4.2rem .5rem;
        width: 7rem; }
      .description_options-select.qty {
        background-position: 2.5rem .5rem;
        width: 5.2rem; }
  .description_button {
    display: flex; }
    .description_button-wrapper {
      flex-basis: 50%; }
    .description_button-btn {
      background-image: linear-gradient(to right, #ff5a0e, #ff7c11);
      height: 4rem;
      width: 17rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
      border-radius: 100px;
      padding: 0 .7rem;
      cursor: pointer;
      transition: all .2s;
      border: none; }
      .description_button-btn:hover {
        transform: translateY(3px);
        box-shadow: 0 2px 5px 2px #afaeae; }
      .description_button-btn-title {
        font-family: "Raleway", sans-serif;
        color: #f6f2f2;
        font-weight: 900;
        font-size: 1.4rem;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center; }
    .description_button-share {
      flex-basis: 50%;
      display: flex;
      align-items: flex-end;
      justify-content: right; }

.carousel {
  display: flex;
  flex-basis: 35%;
  position: relative; }
  .carousel_logo {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translate(-50%, 0);
    background-image: url(../img/logo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 15rem 7.6rem;
    display: block;
    width: 15rem;
    height: 15rem; }
  .carousel_slide {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-position: center center;
    background-repeat: no-repeat;
    display: none; }
    .carousel_slide.active {
      display: block; }
    .carousel_slide.blue1 {
      background-image: url(../img/blue1.png);
      background-size: 32rem 20rem; }
    .carousel_slide.blue2 {
      background-image: url(../img/blue2.png);
      background-size: 30rem 20rem; }
    .carousel_slide.blue3 {
      background-image: url(../img/blue3.png);
      background-size: 30rem 30rem; }
    .carousel_slide.blue4 {
      background-image: url(../img/blue4.png);
      background-size: 30rem 30rem; }
    .carousel_slide.pink1 {
      background-image: url(../img/pink1.png);
      background-size: 30rem 30rem; }
  .carousel_controler {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex; }
    .carousel_controler-dot {
      width: 1.2rem;
      height: 1.2rem;
      filter: brightness(70%);
      border-radius: 100%;
      margin-right: 1rem;
      cursor: pointer; }
      .carousel_controler-dot.active {
        background-color: #f6f2f2;
        filter: brightness(100%); }

/*# sourceMappingURL=style.css.map */
